body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    background-color: #374259;
    color: #F2D8D8;
    font-weight: 300;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

a:any-link {
    text-decoration: none;
    color: #F2D8D8;
}

a:hover, button:hover {
    animation: 500ms alternate infinite hover-animate;
}

@keyframes hover-animate {
    from {
        text-shadow: none;
    } to {
        text-shadow: 0 0 4px #F2D8D8;
    }
}

h1 {
    font-size: 32px;
    height: fit-content;
    width: fit-content;
    margin: 16px auto;
    padding: 16px 48px;

}

button, input {
    border: 2px #5C8984 solid;
    background-color: #545B77;
    border-radius: 8px;
    color: #F2D8D8;
}

input {
    width: 50px;
}

.header,
.footer {
    min-height: auto;
    background-color: #545B77;
    width: 100vw;
}

.exercises {
    width: 70vw;
    height: fit-content;
    align-self: center;
    margin-bottom: 32px;
}

#test1inputin.valid,
#test2inputx.valid,
#test2inputy.valid {
    border: 2px #5C8984 solid;
}

#test1inputin.invalid,
#test2inputx.invalid,
#test2inputy.invalid {
    border: 2px rgb(128, 0, 0) solid;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
}
